#contenido{
display: none;
background-color: #fff;
color: #000;
border:1px solid
}

#bordes {
  border-bottom: 1px solid;
  border-top: 1px solid;
}
ion-col {
  display: flex;
  justify-content: center;
}
