<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="fondo">

  <ion-searchbar placeholder="Buscar Cliente" inputmode="decimal" type="decimal"
    (ionChange)="onSearchChange($event)"
    [debounce]="250"></ion-searchbar>
  <div *ngIf="busqueda">

    <ion-card *ngFor="let b of busqueda" (click)="modificar(b.id)">
      <ion-header>
        <ion-toolbar>
          <ion-title>{{b.nombre}} {{b.apellidos}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-card-content>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">Teléfono</ion-col>
            <ion-col size="6">{{b.telefono}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">ID cliente</ion-col>
            <ion-col size="6">{{b.id}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">Dirección</ion-col>
            <ion-col size="6">{{b.direccion}} Numº {{b.num}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">Localidad</ion-col>
            <ion-col size="6">{{b.localidad}}</ion-col>
          </ion-row>

        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="!busqueda">


    <ion-card *ngFor="let cli of clientes" (click)="modificar(cli.id)">
      <ion-header>
        <ion-toolbar>
          <ion-title>{{cli.nombre}} {{cli.apellidos}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-card-content>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">Teléfono</ion-col>
            <ion-col size="6">{{cli.telefono}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">ID cliente</ion-col>
            <ion-col size="6">{{cli.id}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">Dirección</ion-col>
            <ion-col size="6">{{cli.direccion}} Numº {{cli.num}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">Localidad</ion-col>
            <ion-col size="6">{{cli.localidad}}</ion-col>
          </ion-row>

        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
