<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<ion-content class="ion-padding">

  <ion-grid>
    <ion-row id="centro">
      <ion-col size="3">
      </ion-col>
      <ion-col size="6">
        <img src="../../../../assets/logos/logo2.png" alt="">
      </ion-col>
      <ion-col size="3">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-segment (ionChange)="segmentChanged($event)" value="platos">
    <ion-segment-button value="platos">
      Platos
    </ion-segment-button>
    <ion-segment-button value="bebida">
      Bebidas
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="segment==='platos'">
    <ion-button (click)="andirPlatos()" expand="block"
      shape="round">
      Nuevo
    </ion-button>
    <ion-card *ngFor="let p of platos" id="{{p.id}}"
      style="background-image:linear-gradient(rgba(0, 0, 0), rgba(255, 255,
      255, 0)), url('{{url}}/proyectoDAW{{p.img}}');color: #fff,"
      class="fondoImagen">

      <ion-card-header>
        <ion-card-title style="color:#fff">{{p.nombrePlato}}</ion-card-title>
        <ion-card-subtitle style="color:#fff">Precio: {{p.precio}} €</ion-card-subtitle>
        <ion-button (click)="modificar('platos',p)">
          <ion-icon slot="start" name="add"></ion-icon>
          Modificar
        </ion-button>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>

          <ion-row>
            <ion-chip *ngFor="let ing of p.ingredientes" color="dark">
              <ion-label style="color: #fff;">{{ing.nombre}}</ion-label>
              <ion-icon style="color: #fff;"name="trash-outline"></ion-icon>
            </ion-chip>

          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="segment==='bebida'">

    <ion-button (click)="andirBebida()" expand="block"
      shape="round">
      Nuevo
    </ion-button>


    <ion-card *ngFor="let b of bebida;index as i" id="{{b.id}}"
      style="background-image: linear-gradient(rgba(0, 0, 0), rgba(255, 255,
      255, 0)), url('{{url}}/proyectoDAW{{b.img}}');color: #fff;"
      class="fondoImagen">
      <ion-card-header>

        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-card-title style="color:#fff">{{b.nombre}}</ion-card-title>
              <ion-card-subtitle style="color:#fff">Precio: {{b.precio}} €</ion-card-subtitle>
              <ion-button (click)="modificar('bebida',b)">Modificar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>

  </div>
